<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hiddencity.games">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.hiddencity.games.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission android:name="com.hiddencity.games.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        tools:replace="android:theme"

        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.hiddencity.games" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.HiddenGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALgE0rBWVcy8sMQ39PM4CtcuOBMPssQvs" />

        <activity
            android:name=".screens.MainMenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_on_board" >

        </activity>
        <activity
            android:name=".screens.NavigationActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".screens.WebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".screens.WebViewButtonedActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".screens.OnboardWebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".screens.GameMasterScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_game_master_screen" >
        </activity>
        <activity
            android:name=".screens.PlayerScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_player_screen" >
        </activity>
        <activity
            android:name=".screens.ContentWebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_player_screen" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e0f45593b26dd8c5c92ad92e771079d97fa41270" />
        <meta-data
            android:name="kontakt.io.API_KEY"
            android:value="ExamplehgAEjC1Krg5X5tiI9AExample" />

    </application>

</manifest>
